$max-content-width:1440px;
$content-container:1024px;
$nav-height:150px;
$nav-height-mobile:90px;


//COLORS
$white:white;
$black:black;
$lime:#eafb2d;
$hoody:#d2b8b0;


$transition-linear:.3s linear;
