$max-content-width:1440px;
$content-container:1024px;
$nav-height:150px;
$nav-height-mobile:90px;


//COLORS
$white:white;
$black:black;
$lime:#eafb2d;
$hoody:#d2b8b0;
$tan:#e7e6e1;

$jj-hero:#b9a147;
$jj-main:$tan;


$transition-linear:.3s linear;
